@font-face {
  font-family: Smiley;
  src: url("./fonts/SmileySans-Oblique.otf") format("opentype"),
  url("./fonts/SmileySans-Oblique.ttf") format("truetype"),
  url("./fonts/SmileySans-Oblique.ttf.woff2") format("woff2"),
  url("./fonts/SmileySans-Oblique.otf.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Smiley, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
